head {meta charset="utf-8";}

table.inputTable{
	border-collapse: collapse;
	border = "1";
}

tr.headTr{
	border = "1";
	padding-left: 60px;
}

#dt{text-indent: -500px;height:25px; width:200px;}

table#myTable tbody td  {
	border = "2px solid rgb(57, 219, 255)";
	height = "20px";
	width = "100px";
}

table#myTable tbody button{width = "80px";}